            /* For mobile phones: */
            
            [class*="col-"] {
                width: 100%;
            }
            
            img {
                width: 100%
            }
            
            @media only screen and (min-width: 600px) {
                img {
                    width: auto
                }
            }
            
            @media only screen and (min-width: 768px) {
                img {
                    width: auto
                }
            }
            
            @media screen and (max-width: 991px) {
                /* tablet vói mobile */
                form label {
                    display: inline-block;
                    width: 100%;
                }
                form input {
                    display: inline-block;
                    width: 80%;
                }
                input[type="text"],
                input[type="date"],
                select,
                textarea {
                    width: 80%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    resize: vertical;
                }
                .flex_row {
                    display: block;
                }
                .btnSubmit {
                    text-align: right;
                }
            }
            
            @media screen and (min-width: 992px) {
                #chi_brand {
                    display: none;
                }
                h1 {
                    font-size: 25px;
                }
                form label {
                    display: inline-block;
                    width: 10%;
                }
                form input {
                    display: inline-block;
                    width: 80%;
                }
                input[type="text"],
                input[type="date"],
                textarea {
                    width: 80%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    resize: vertical;
                }
                select {
                    width: 80%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin-top: 6px;
                    margin-bottom: 16px;
                    resize: vertical;
                    display: inline-block;
                }
                .flex_row {
                    display: flex;
                }
                .flex_row div {
                    width: 100%;
                }
            }